@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);@import url(https://fonts.googleapis.com/icon?family=Material+Icons);@import url(https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?rd5re8);.back-top,.ms-btn__square,h6 {
    text-transform: uppercase
}

a,a:active,a:focus,a:hover {
    text-decoration: none;
    color: initial
}

ol,p,table,ul {
    line-height: 28px;
    margin: 0 0 20px
}

.ms-socials-icons li,a {
    display: inline-block
}

.ms-socials-icons,body {
    padding: 0
}

.filtr-btn li,.ms-clients__grid li,.ms-nav-item,.ms-pagination li,.ms-submenu,.services-list ul,.social-share__list li,.work-slide {
    list-style: none
}

::selection {
    background: rgba(0,0,0,.54);
    color: #fff
}

::-moz-selection {
    background: rgba(0,0,0,.54);
    color: #fff
}

body {
    color: #212121;
    font-family: Roboto,'Noto Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    opacity: 1;
    height: 100%;
    margin: 0;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

h1,h2,h3,h4,h5,h6 {
    font-family: Roboto,sans-serif;
    line-height: 1.5;
    margin: 0 0 20px
}

h1 {
    font-size: calc(36px + 1vw);
    font-weight: 900;
    line-height: 1.2
}

h2 {
    font-size: 48px
}

h3 {
    font-size: 1.9em
}

h4 {
    font-size: 1.4em
}

h5 {
    font-size: 1.2em
}

h6 {
    font-size: 1em;
    font-weight: 400
}

b,strong {
    font-weight: 500
}

p {
    font-weight: 300
}

a {
    outline: 0!important
}

p>a {
    font-weight: 400;
    position: relative
}

.link a::after,p>a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #212121;
    -webkit-transition: width .4s cubic-bezier(.77,0,.175,1);
    -o-transition: width .4s cubic-bezier(.77,0,.175,1);
    transition: width .4s cubic-bezier(.77,0,.175,1)
}

.link a:hover::after,p>a:hover::after {
    width: 100%
}

ol,ul {
    padding-left: 18px;
    font-weight: 300
}

table {
    border-collapse: collapse;
    width: auto
}

td,th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px
}

tr:nth-child(even) {
    background-color: #f6f6f6
}

blockquote {
    font-size: 1.2em;
    font-style: italic;
    margin: 0 auto 30px;
    text-align: left;
    padding: 20px 20px 20px 40px;
    border-left: 2px solid rgba(0,0,0,.2)
}

.back-top,.case__footer,.ms-align-center,.ms-btn,.ms-hero__title-poster,.ms-section__block header,.services-list {
    text-align: center
}

.disable-scroll {
    overflow: hidden
}

.link a {
    position: relative
}

.ms-socials-icons li a {
    font-size: 1.4em;
    margin: 0 .5em
}

button {
    background: 0 0;
    border: none
}

button:focus {
    outline: 0
}

input[type=submit] {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: 0 0;
    color: #212121;
    border: none;
    transition: color .2s cubic-bezier(.25,.46,.45,.94)
}

input[type=submit]:hover {
    color: #fff
}

.nav__btn {
    z-index: 10;
    position: relative;
    top: 0;
    color: currentColor;
    display: none
}

.burger,.cross {
    display: block;
    width: 1.8em;
    height: 1.6em;
    font-size: .9em;
    z-index: 9999
}

.burger__line,.cross__line {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 3px
}

.nav-is-open .burger {
    opacity: 0;
    -webkit-transition: opacity .1s cubic-bezier(.55,.085,.68,.53) .1s;
    transition: opacity .1s cubic-bezier(.55,.085,.68,.53) .1s
}

.burger__line {
    background-color: #212121
}

.burger__line:nth-child(1) {
    top: 0
}

.burger__line:nth-child(2) {
    top: calc(50% - 2.5px)
}

.btn--box:after,.cross {
    top: 0;
    position: absolute;
    left: 0
}

.burger__line:nth-child(3) {
    bottom: 0
}

.cross__line {
    top: calc(50% - 2.5px);
    background-color: #fff;
    opacity: 0
}

.cross__line:nth-child(1) {
    -webkit-transform: scale(.2) rotate(-45deg);
    -ms-transform: scale(.2) rotate(-45deg);
    transform: scale(.2) rotate(-45deg)
}

.cross__line:nth-child(2) {
    -webkit-transform: scale(.2) rotate(45deg);
    -ms-transform: scale(.2) rotate(45deg);
    transform: scale(.2) rotate(45deg)
}

.nav-is-open .cross__line {
    opacity: 1;
    -webkit-transition: all .2s cubic-bezier(.25,.46,.45,.94) .2s;
    transition: all .2s cubic-bezier(.25,.46,.45,.94) .2s
}

.nav-is-open .cross__line:nth-child(1) {
    -webkit-transform: scale(1) rotate(-45deg);
    -ms-transform: scale(1) rotate(-45deg);
    transform: scale(1) rotate(-45deg)
}

.nav-is-open .cross__line:nth-child(2) {
    -webkit-transform: scale(1) rotate(45deg);
    -ms-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg)
}

.ms-btn {
    position: relative;
    line-height: 1.5;
    padding: .2em;
    z-index: 0;
    display: inline-flex
}

.ms-btn::after,.ms-btn__icon::after {
    content: '';
    height: 100%;
    background: rgba(0,0,0,.2);
    z-index: -1;
    top: 0
}

.ms-btn::after {
    display: block;
    width: calc(100% + .4em);
    -webkit-transform: scale(1,.4) rotate3d(3,0,1,35deg);
    transform: scale(1,.4) rotate3d(3,0,1,35deg);
    position: absolute;
    left: -.2em;
    opacity: 0;
    -webkit-transition: opacity .2s cubic-bezier(.55,.085,.68,.53),-webkit-transform .3s cubic-bezier(.55,.085,.68,.53);
    transition: opacity .2s cubic-bezier(.55,.085,.68,.53),-webkit-transform .3s cubic-bezier(.55,.085,.68,.53)
}

.active.ms-btn::after,.ms-btn:hover::after {
    -webkit-transform: scale(1,1) rotate3d(3,0,1,3deg);
    transform: scale(1,1) rotate3d(3,0,1,3deg);
    top: 0;
    opacity: 1;
    -webkit-transition: opacity 0s,-webkit-transform .2s cubic-bezier(.25,.46,.45,.94);
    transition: opacity 0s,-webkit-transform .2s cubic-bezier(.25,.46,.45,.94);
    transition: opacity 0s,transform .2s cubic-bezier(.25,.46,.45,.94);
    transition: opacity 0s,transform .2s cubic-bezier(.25,.46,.45,.94),-webkit-transform .2s cubic-bezier(.25,.46,.45,.94)
}

.ms-btn__icon {
    position: relative;
    line-height: 1;
    font-size: 16px;
    padding: .15em;
    display: flex;
    color: #000
}

.ms-btn__icon::after {
    display: block;
    width: 100%;
    -webkit-transform: scale(1,.4) rotate3d(3,0,1,35deg);
    transform: scale(1,.4) rotate3d(3,0,1,35deg);
    position: absolute;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity .2s cubic-bezier(.55,.085,.68,.53),-webkit-transform .3s cubic-bezier(.55,.085,.68,.53);
    transition: opacity .2s cubic-bezier(.55,.085,.68,.53),-webkit-transform .3s cubic-bezier(.55,.085,.68,.53);
    transition: opacity .2s cubic-bezier(.55,.085,.68,.53),transform .3s cubic-bezier(.55,.085,.68,.53);
    transition: opacity .2s cubic-bezier(.55,.085,.68,.53),transform .3s cubic-bezier(.55,.085,.68,.53),-webkit-transform .3s cubic-bezier(.55,.085,.68,.53)
}

.ms-btn__icon:hover::after {
    -webkit-transform: scale(1,1) rotate3d(3,0,1,3deg);
    transform: scale(1,1) rotate3d(3,0,1,3deg);
    top: 0;
    opacity: 1;
    -webkit-transition: opacity 0s,-webkit-transform .2s cubic-bezier(.25,.46,.45,.94);
    transition: opacity 0s,-webkit-transform .2s cubic-bezier(.25,.46,.45,.94);
    transition: opacity 0s,transform .2s cubic-bezier(.25,.46,.45,.94);
    transition: opacity 0s,transform .2s cubic-bezier(.25,.46,.45,.94),-webkit-transform .2s cubic-bezier(.25,.46,.45,.94)
}

.ms-btn__square {
    border: 1px solid #212121;
    background-color: transparent;
    border-radius: 3px;
    font-size: 14px;
    line-height: 40px;
    padding: 0 20px;
    transition: all .2s cubic-bezier(.25,.46,.45,.94)
}

.ms-btn__square:focus,.ms-btn__square:hover {
    background-color: #212121;
    color: #fff
}

.back-top {
    position: fixed;
    font-weight: 400;
    color: #000;
    bottom: 0;
    right: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    padding: 10px;
    -webkit-transition: opacity .3s ease,visibility 0s .3s;
    transition: opacity .3s ease,visibility 0s .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.ms-logo img,.ms-navbar {
    -webkit-backface-visibility: hidden
}

.back-top::after {
    content: "";
    position: absolute;
    bottom: calc(-100% - 8px);
    right: calc(-100% - 8px);
    z-index: -1;
    width: 100px;
    height: 110px;
    background-color: #212121;
    transform: rotate(45deg)
}

.down-btns span:last-child::after,.ms-hero__links::before,.ms-submenu::before {
    content: ''
}

.back-top i {
    color: #fff;
    font-size: 24px
}

.back-top.back-top-is-visible,.no-touch .back-top:hover {
    -webkit-transition: opacity .3s ease,visibility 0s 0s;
    transition: opacity .3s ease,visibility 0s 0s
}

.back-top.back-top-is-visible {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.ms-pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 0
}

.ms-pagination li a {
    font-size: 16px;
    margin: 0 .5em;
    padding: 0 5px;
    line-height: 1.5
}

.ms-header {
    position: relative;
    z-index: 4;
    width: 100%;
    max-width: 100em;
    margin: 0 auto;
    padding: 30px 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center
}

.ms-nav,.ms-navbar {
    align-items: center
}

.ms-logo {
    margin-right: auto;
    cursor: pointer;
    width: auto;
    display: inline-block
}

.ms-logo h3 {
    margin: 0;
    line-height: 1
}

.ms-logo img {
    height: 45px;
    width: auto;
    backface-visibility: hidden
}

.ms-nav {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.ms-navbar {
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    transition: all .4s cubic-bezier(.645,.045,.355,1);
    backface-visibility: hidden
}

.ms-nav-item {
    text-transform: capitalize;
    position: relative
}

.ms-submenu,.ms-submenu::before {
    position: absolute;
    border-radius: 3px;
    left: 20px
}

.ms-nav-item.link a::after {
    bottom: 15px
}

.ms-nav-item.active>a::after {
    width: 100%;
    bottom: 15px
}

.ms-navbar>.ms-nav-item a {
    display: inline-block;
    padding: 0 0 20px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.ms-submenu {
    z-index: 8;
    padding: 20px 0 0;
    background: #212121;
    min-width: 150px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.ms-submenu::before {
    width: 20px;
    height: 20px;
    background: inherit;
    top: -4px;
    transform: rotate(45deg)
}

.ms-nav-item>.ms-submenu li a {
    color: #fff;
    margin: 0 auto;
    padding: 0 20px 20px;
    font-size: 14px;
    opacity: .6;
    transition: opacity .2s cubic-bezier(.645,.045,.355,1)
}

.ms-nav-item:hover ul.ms-submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0)
}

.ms-nav-item>.ms-submenu li a:hover {
    opacity: 1
}

.ms-hero:not(.ms-hero__poster) {
    width: 100%;
    max-width: 1170px;
    padding: 120px 15px;
    margin: 0 auto;
    height: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    text-align: center
}

.ms-hero__title {
    -webkit-transform: scale(1,.5) rotate3d(3,0,1,35deg);
    transform: scale(1,.5) rotate3d(3,0,1,35deg);
    opacity: 0;
    -webkit-transition: opacity .3s ease-out,-webkit-transform 1s cubic-bezier(.25,.46,.45,.94),margin 1s cubic-bezier(.77,0,.175,1);
    transition: opacity .3s ease-out,-webkit-transform 1s cubic-bezier(.25,.46,.45,.94),margin 1s cubic-bezier(.77,0,.175,1);
    transition: opacity .3s ease-out,transform 1s cubic-bezier(.25,.46,.45,.94),margin 1s cubic-bezier(.77,0,.175,1);
    transition: opacity .3s ease-out,transform 1s cubic-bezier(.25,.46,.45,.94),-webkit-transform .3s cubic-bezier(.25,.46,.45,.94),margin 1s cubic-bezier(.77,0,.175,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.ms-hero__subtitle {
    font-size: 1.2em;
    max-width: 500px;
    margin: 0 auto
}

.ms-hero__title.is-visible {
    opacity: 1;
    -webkit-transform: scale(1) rotate3d(0,0,0,0);
    transform: scale(1) rotate3d(0,0,0,0)
}

.ms-hero__title h1 {
    font-size: 3.5em;
    margin: 10px 0 24px;
    flex-direction: column;
    display: flex;
    text-transform: uppercase
}

.ms-hero:not(.ms-hero__poster) .ms-hero__title h1 {
    margin: 0 auto 30px
}

.ms-hero.ms-hero__poster {
    width: 100%;
    margin: 0 auto 20vh;
    max-width: 100em;
    position: relative;
    height: auto;
    min-height: 75vh;
    align-items: center;
    overflow: inherit;
    -moz-transition: all 1s cubic-bezier(.77,0,.175,1);
    -webkit-transition: all 1s cubic-bezier(.77,0,.175,1);
    -o-transition: all 1s cubic-bezier(.77,0,.175,1);
    transition: all 1s cubic-bezier(.77,0,.175,1)
}

.ms-hero__title-poster {
    opacity: 0;
    position: relative;
    left: 0;
    right: 0;
    z-index: 1;
    align-items: center;
    display: flex;
    color: #fff;
    width: 100%;
    max-width: 55%;
    height: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    -moz-transition: all 1s cubic-bezier(.77,0,.175,1);
    -webkit-transition: all 1s cubic-bezier(.77,0,.175,1);
    -o-transition: all 1s cubic-bezier(.77,0,.175,1);
    transition: all 1s cubic-bezier(.77,0,.175,1)
}

.go-to-read,.ms-hero__image {
    position: absolute;
    bottom: 0;
    display: flex;
    left: 0;
    right: 0
}

.ms-hero__title-poster .ms-hero__title {
    margin: 30vh auto 0
}

.ms-hero__image {
    margin: 0 15px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    top: 0;
    border-radius: 4px;
    transition: height 1s cubic-bezier(.77,0,.175,1)
}

.ms-hero__image .box-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.section__content,.social-share i {
    -webkit-backface-visibility: hidden
}

.cover-closed .ms-hero__title-poster .ms-hero__title {
    margin-top: 25vh;
    margin-bottom: 10vh;
    color: inherit
}

.cover-closed.ms-hero.ms-hero__poster {
    margin: 0 auto;
    height: auto;
    min-height: 0
}

.cover-closed .box-inner__cat {
    color: rgba(0,0,0,.4)
}

.cover-closed .ms-hero__image {
    height: 50px
}

.cover-closed.ms-hero.ms-hero__poster .ms-hero__title-poster {
    color: #333
}

.go-to-read {
    height: 40px;
    z-index: 3;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.go-to-read .down-btns {
    position: relative;
    display: block;
    bottom: -20px;
    opacity: 0;
    cursor: pointer;
    -moz-transition: all .2s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: all .2s cubic-bezier(.25,.46,.45,.94);
    -o-transition: all .2s cubic-bezier(.25,.46,.45,.94);
    transition: all .2s cubic-bezier(.25,.46,.45,.94)
}

.cover-closed.ms-hero.ms-hero__poster .down-btns {
    transform: rotate(180deg);
    bottom: -60px
}

.go-to-read i {
    color: #fff;
    line-height: 1;
    opacity: .6;
    -moz-transition: all .2s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: all .2s cubic-bezier(.25,.46,.45,.94);
    -o-transition: all .2s cubic-bezier(.25,.46,.45,.94);
    transition: all .2s cubic-bezier(.25,.46,.45,.94)
}

.go-to-read span {
    background-color: #212121;
    height: 32px;
    width: 32px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}

.go-to-read span:first-child {
    height: 70px;
    position: relative
}

.go-to-read span:first-child i {
    align-self: flex-end;
    padding: 8px 0
}

.go-to-read span:last-child i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4px
}

.go-to-read span:last-child i:last-child {
    opacity: .4;
    display: none;
    transform: rotate(180deg)
}

.cover-closed.ms-hero.ms-hero__poster .go-to-read span:last-child i:first-child {
    display: none
}

.cover-closed.ms-hero.ms-hero__poster .go-to-read span:last-child i:last-child {
    display: block
}

.down-btns:hover i,.down-btns:hover span:last-child i:last-child {
    opacity: 1
}

.down-btns span:last-child {
    position: relative
}

.down-btns span:last-child::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    border-radius: 50%;
    border: 1px solid;
    transform: scale(1.5);
    animation: puls 2s infinite
}

@-webkit-keyframes puls {
    0% {
        opacity: 1;
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.5,1.5);
        -moz-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
        -o-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5)
    }
}

.ms-hero__links {
    position: absolute;
    height: 80px;
    opacity: 0;
    top: 0;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ms-hero__links::before {
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    left: -50%;
    z-index: -1;
    background: rgba(255,255,255,.8)
}

.sticky-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    margin: 0 auto;
    z-index: 2
}

.go-to-back {
    margin: auto auto 0 0
}

.go-to-back a {
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 400
}

.go-to-back i {
    font-size: 21px;
    width: 24px;
    transition: width .2s cubic-bezier(.25,.46,.45,.94)
}

.go-to-back a:hover>i {
    width: 30px
}

.social-share {
    position: relative;
    height: 24px;
    display: flex;
    margin: auto 0 0 auto
}

.social-share i {
    font-size: 21px;
    width: 24px;
    cursor: pointer;
    backface-visibility: hidden
}

.share-btn {
    display: flex;
    cursor: pointer;
    width: auto
}

.share-btn span {
    position: absolute;
    width: 70px;
    right: -4px;
    margin: 0 8px;
    opacity: 1;
    visibility: visible;
    transition: all .2s cubic-bezier(.25,.46,.45,.94)
}

.social-share:hover .share-btn span {
    margin: 0 18px
}

.share-btn i {
    transition: opacity .2s cubic-bezier(.25,.46,.45,.94)
}

.show .share-btn i {
    opacity: .4
}

.social-share__list {
    margin-right: 8px;
    padding-left: 0;
    height: 100%
}

.ms-container,.ms-main-container {
    margin: 0 auto;
    box-sizing: border-box
}

.social-share__list li {
    display: inline-block;
    cursor: pointer;
    padding-right: 8px
}

.case__footer span,.ms-container {
    display: block
}

.social-share__list i {
    font-size: 16px
}

.ms-main-container {
    padding: 0 15px;
    width: 100%;
    position: relative;
    overflow-x: hidden
}

.ms-preloader {
    position: fixed;
    width: 120%;
    height: 100%;
    background-color: #212121;
    z-index: 9;
    left: 0;
    transition: width .8s cubic-bezier(.215,.61,.355,1),transform .8s cubic-bezier(.215,.61,.355,1) .3s;
    transform-origin: bottom right;
    -ms-transform: skew(3deg,0deg);
    -webkit-transform: skew(3deg,0deg);
    transform: skew(3deg,0deg)
}

.ms-preloader.is-hidden {
    width: 0;
    transform: skew(0deg,0deg)
}

.page-leave .ms-preloader {
    right: 0;
    left: auto;
    width: 100%
}

.ms-container {
    height: auto;
    min-height: calc(100vh - 190px);
    width: 100%;
    position: relative
}

.contrast-bg__black::before,.contrast-bg__grey::before {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: ''
}

.ms-section {
    transition: opacity .3s ease-out
}

article.ms-section {
    transition: opacity .8s ease-out .4s
}

.ms-section__block {
    margin: 0 auto 140px;
    max-width: 1170px;
    padding: 0;
    position: relative
}

.ms-section img {
    width: 100%
}

.ms-section__block header {
    max-width: 50%;
    margin: 0 auto 60px
}

.go-to-contacts header {
    margin: 0 auto
}

.inner-slider .ms-section__block {
    max-width: 100%
}

.ms-section__block header h3 {
    margin-bottom: 10px
}

.contrast-bg__black,.contrast-bg__grey {
    padding: 90px 0;
    position: relative;
    margin: 0 -15px 160px
}

.contrast-bg__black {
    margin: 0 -15px;
    color: #fff
}

.contrast-bg__black .ms-section__block,.contrast-bg__grey .ms-section__block {
    margin: 0 auto
}

.contrast-bg__black .ms-btn__square {
    color: #fff;
    border-color: #fff
}

.contrast-bg__black .ms-btn__square:hover {
    color: #212121;
    background-color: #fff
}

.contrast-bg__black .ms-btn__icon,.grid-item {
    color: #fff
}

.contrast-bg__black .ms-btn__icon::after {
    background: rgba(255,255,255,.2)
}

.contrast-bg__grey::before {
    position: absolute;
    max-width: 100%;
    background-color: #f1f1f1
}

.contrast-bg__black::before {
    position: absolute;
    max-width: 100%;
    background-color: #212121
}

.section__content {
    opacity: 0;
    -moz-transition: opacity .6s cubic-bezier(.645,.045,.355,1) .2s;
    -webkit-transition: opacity .6s cubic-bezier(.645,.045,.355,1) .2s;
    -o-transition: opacity .6s cubic-bezier(.645,.045,.355,1) .2s;
    transition: opacity .6s cubic-bezier(.645,.045,.355,1) .2s;
    backface-visibility: hidden
}

.box-img,.client-logo img {
    -webkit-backface-visibility: hidden
}

.section__content.is-visible {
    opacity: 1;
    -moz-transition: opacity .6s cubic-bezier(.645,.045,.355,1) .2s;
    -webkit-transition: opacity .6s cubic-bezier(.645,.045,.355,1) .2s;
    -o-transition: opacity .6s cubic-bezier(.645,.045,.355,1) .2s;
    transition: opacity .6s cubic-bezier(.645,.045,.355,1) .2s
}

.gallery-content {
    margin-bottom: 0
}

.about__content img,.section__content img {
    margin-bottom: 30px
}

.services-list h6 {
    margin-bottom: 15px
}

.ms-clients__grid {
    margin: 0 auto;
    width: 100%;
    padding: 0
}

.ms-clients__grid li {
    padding: 0
}

.client-logo {
    padding-top: 50%
}

.ms-clients__grid li:nth-child(-n+4) {
    border-top: none
}

.ms-clients__grid li:nth-child(4n) {
    border-right: none
}

.client-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    max-width: 40%;
    height: auto;
    max-height: 40%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    backface-visibility: hidden
}

.box-cover,.box-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.case__footer {
    max-width: 1170px;
    margin: 0 auto;
    padding: 8% 0
}

.box-cover,.grid-item .box {
    display: flex;
    overflow: hidden
}

.case__footer h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400
}

.ms-grid {
    overflow: hidden;
    margin-bottom: 60px
}

.grid-item {
    margin-bottom: 15px
}

.grid-item .box {
    padding-top: 35vh;
    position: relative;
    background-color: #ccc;
    border-radius: 6px
}

.box-cover,.box-img,.box-inner {
    position: absolute
}

.box-cover {
    transform: scale(1);
    align-items: center;
    justify-content: center
}

.box-img {
    right: 0;
    bottom: 0;
    opacity: 0;
    background-position: center;
    background-size: cover;
    -webkit-transition: transform .3s cubic-bezier(.25,.46,.45,.94);
    transition: transform .3s cubic-bezier(.25,.46,.45,.94);
    backface-visibility: hidden
}

.box-inner {
    left: 50px;
    top: 30px;
    text-align: left
}

.work-info .box-inner {
    max-width: 18em;
    color: #fff
}

.artcile-item {
    margin-bottom: 30px
}

.article-content .box-inner {
    max-width: 50%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.box-inner__cat,.box-inner__title {
    position: relative;
    margin: 0 0 .5em;
    opacity: 1;
    z-index: 3;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(255,255,255,.8);
    transition: color 1s cubic-bezier(.77,0,.175,1)
}

.box-hover,.work-image .box-hover::after,.work-image .box-hover::before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0
}

.box-inner__title {
    line-height: 1.2
}

.box-inner__cat {
    display: block;
    font-size: 14px;
    font-weight: 400;
    z-index: 3
}

.box-hover {
    display: block;
    z-index: 2
}

.work-image .box-hover::before {
    content: '';
    opacity: 0;
    -webkit-transition: all .2s cubic-bezier(.25,.46,.45,.94);
    transition: all .2s cubic-bezier(.25,.46,.45,.94);
    background-color: rgba(0,0,0,.6)
}

.work-image .box-hover::after {
    content: '+';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6em;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0;
    mix-blend-mode: screen;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
    -webkit-transition: opacity .2s ease-out,-webkit-transform .3s cubic-bezier(.25,.46,.45,.94);
    transition: opacity .2s ease-out,-webkit-transform .3s cubic-bezier(.25,.46,.45,.94);
    transition: opacity .2s ease-out,transform .3s cubic-bezier(.25,.46,.45,.94);
    transition: opacity .2s ease-out,transform .3s cubic-bezier(.25,.46,.45,.94),-webkit-transform .3s cubic-bezier(.25,.46,.45,.94)
}

.article-date,.grid-item__img img {
    -webkit-backface-visibility: hidden
}

.box-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    z-index: 0;
    opacity: 0;
    background-color: rgba(0,0,0,.4)
}

.article-date,.box-inner_link {
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center
}

.box-inner_link {
    color: inherit;
    bottom: 30px;
    justify-content: center;
    text-transform: uppercase
}

.box-inner_link:hover {
    color: inherit
}

.article-content .box-inner,.article-date,.box-overlay {
    transition: opacity .3s ease-in-out
}

.article-date {
    opacity: 0;
    top: 30px;
    letter-spacing: 2px;
    font-size: 14px;
    backface-visibility: hidden
}

.box-inner_link,.work-info>.box-inner {
    -webkit-transform: scale(1,.5) rotate3d(3,0,1,35deg);
    transform: scale(1,.5) rotate3d(3,0,1,35deg);
    opacity: 0;
    -webkit-transition: opacity .3s ease-out,-webkit-transform 1s cubic-bezier(.25,.46,.45,.94);
    transition: opacity .3s ease-out,-webkit-transform 1s cubic-bezier(.25,.46,.45,.94);
    transition: opacity .3s ease-out,transform 1s cubic-bezier(.25,.46,.45,.94);
    transition: opacity .3s ease-out,transform 1s cubic-bezier(.25,.46,.45,.94),-webkit-transform .3s cubic-bezier(.25,.46,.45,.94)
}

.grid-item:hover .box-inner_link,.grid-item:hover .work-info>.box-inner {
    opacity: 1;
    -webkit-transform: scale(1) translate(0);
    -ms-transform: scale(1) translate(0);
    transform: scale(1) translate(0);
    -webkit-transition: all .2s cubic-bezier(.25,.46,.45,.94);
    transition: all .2s cubic-bezier(.25,.46,.45,.94)
}

.grid-item:hover .box-hover::before {
    opacity: 1
}

.grid-item:hover .box-hover::after {
    opacity: .4;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.grid-item:active .box-hover::after {
    opacity: 1;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9)
}

.grid-item:hover .box-img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}

.grid-item:active .box-img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.ms-section .filter-options {
    text-align: left;
    padding: 0 .7em;
    margin: 0 auto 30px
}

.c-info,.contact-form,.work-details {
    text-align: center
}

.ms-section .filter-options button {
    display: inline-block;
    margin-right: 1.2em;
    text-transform: uppercase
}

.filtr-btn {
    display: flex;
    margin: 0 auto 60px;
    padding: 0 17px;
    max-width: 1170px
}

.filtr-btn li {
    padding: 0 0 4px;
    margin-right: 1.2em;
    cursor: pointer
}

.filtr-btn li h6 {
    margin-bottom: 0
}

.filtr-btn li.active .ms-btn::after {
    -webkit-transform: scale(1,1) rotate3d(3,0,1,3deg);
    transform: scale(1,1) rotate3d(3,0,1,3deg);
    top: 0;
    opacity: 1;
    -webkit-transition: opacity 0s,-webkit-transform .2s cubic-bezier(.25,.46,.45,.94);
    transition: opacity 0s,-webkit-transform .2s cubic-bezier(.25,.46,.45,.94);
    transition: opacity 0s,transform .2s cubic-bezier(.25,.46,.45,.94);
    transition: opacity 0s,transform .2s cubic-bezier(.25,.46,.45,.94),-webkit-transform .2s cubic-bezier(.25,.46,.45,.94)
}

.grid-item__img {
    width: 100%;
    position: relative;
    margin-bottom: 30px
}

.grid-item__img img {
    float: left;
    margin-bottom: 0;
    backface-visibility: hidden
}

.ms-gallery {
    margin-left: 0;
    margin-right: 0
}

.mfp-bg,.mfp-wrap {
    z-index: 9
}

.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: .8
}

.mfp-with-zoom.mfp-removing .mfp-container,.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,.6);
    transition: opacity .3s cubic-bezier(.25,.46,.45,.94)
}

.img-overlay i {
    float: right;
    margin: 15px;
    color: rgba(255,255,255,.8)
}

.post__content img,.swiper-wrapper {
    margin-bottom: 30px
}

.img-overlay:hover {
    opacity: 1
}

.img-overlay:active {
    opacity: 0
}

.post__content img {
    margin-top: 15px
}

.post-meta-data {
    padding-top: 24px;
    margin-top: 90px;
    border-top: dotted 1px;
    border-bottom: dotted 1px;
    display: flex
}

.meta-date,.meta-tags {
    max-width: 50%;
    font-size: 14px
}

.post-meta-data .meta-tags {
    padding-left: 0;
    margin-left: 0;
    margin-right: auto
}

.post-meta-data .meta-date {
    margin-left: auto;
    margin-right: 0
}

.meta-tags li a {
    font-weight: 400
}

.post-meta-data li {
    display: inline-block;
    position: relative;
    margin-right: 10px
}

.swiper-slide {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab
}

.ms-testimonials__list {
    max-width: 800px;
    margin: 0 auto;
    text-align: center
}

.ms-testimonials__list ul {
    padding-left: 0
}

.ms-testimonials__list li {
    list-style: none;
    max-width: 100%;
    font-style: italic
}

.ms-testimonials__list p {
    font-size: 1.2em
}

.ms-testimonials__list .ms-pagination {
    margin: 30px 0
}

.slider-pagination {
    margin: 0 16px;
    width: auto
}

.slider-next,.slider-prev {
    cursor: pointer
}

.work-slide {
    width: auto!important;
    display: block
}

.work-slide img {
    width: auto;
    position: relative;
    z-index: 1;
    max-height: 50vh
}

.work-slide__shadow {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 0;
    transform: scale(.9);
    -webkit-filter: blur(20px);
    filter: blur(20px)
}

.work-details {
    margin: 90px auto 30px;
    padding-top: 40px
}

.work-details .copy-cell,.work-details .copy-cell h6 {
    margin-bottom: 15px
}

.work-details .copy-cell span {
    display: block;
    font-weight: 300
}

#contact.row {
    margin: 0
}

#contact h6 {
    margin: 0 0 20px
}

#contact .ms-btn__square {
    width: 100px;
    height: 40px;
    position: relative;
    color: inherit;
    margin: 0 auto
}

.c-info {
    margin-bottom: 90px
}

.c-info p {
    margin: 0
}

.contact-form {
    margin: 0 auto
}

.cs-list {
    padding: 0
}

.cs-list li {
    display: inline-block;
    padding: 0 8px
}

.form-group {
    position: relative;
    margin: 0;
    transition: border-color .3s ease
}

.form-control {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 1em;
    height: 40px;
    font-size: calc(16px + 2 * (100vw - 992px)/ 1508);
    color: #151515;
    font-weight: 300;
    margin-bottom: 2em;
    background-image: none;
    border: 1px solid;
    border-radius: 3px
}

#message {
    min-height: 150px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
    padding: 10px 14px
}

label.error {
    position: absolute;
    left: 15px;
    bottom: .8em;
    font-size: 12px;
    color: #df1f29
}

.ms-footer {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    padding: 24px 15px;
    opacity: 0;
    flex-direction: column
}

.ms-footer .footer-socials {
    margin: 0 auto 24px;
    padding: 0
}

.ms-footer .footer-socials li {
    display: inline-block
}

.ms-footer .footer-socials a {
    margin: 0 .8em;
    display: inline-block;
    font-weight: 300
}

@media only screen and (max-width: 1450px) {
    .ms-header,.ms-hero.ms-hero__poster {
        max-width:1170px
    }

    .grid-item .box {
        padding-top: 40vh
    }
}

@media only screen and (max-width: 1028px) {
    .ms-header,.ms-hero.ms-hero__poster,.ms-navbar {
        width:100%
    }

    body {
        font-size: 14px
    }

    h3 {
        font-size: 1.45em
    }

    h4 {
        font-size: 1.35em
    }

    h5,p {
        font-size: 1.16em
    }

    .ms-main-container {
        padding: 0 15px
    }

    .ms-header {
        padding: 30px 0
    }

    .ms-logo img {
        height: 36px
    }

    .ms-hero:not(.ms-hero__poster) {
        padding: 60px 0;
        min-height: 30vh
    }

    .filtr-btn {
        margin: 0 2px 40px;
        padding: 0
    }

    .ms-section {
        padding: 40px 0 0
    }

    .ms-section__block {
        margin: 0 auto 40px
    }

    .ms-hero__title-poster {
        max-width: 75%;
        justify-content: center
    }

    .ms-hero__image {
        margin: 0
    }

    .ms-grid {
        margin-left: -15px;
        margin-right: -15px
    }

    .nav__btn {
        display: block
    }

    .ms-navbar {
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        font-size: 1.4em;
        background-color: rgba(255,255,255,0);
        visibility: hidden
    }

    .ms-navbar.is-visible {
        background-color: #000;
        visibility: visible;
        opacity: 1;
        z-index: 4
    }

    .ms-nav-item {
        display: block;
        margin: .2em 0;
        visibility: hidden;
        text-align: center;
        opacity: 0!important;
        transition: opacity .3s ease-in-out .3s
    }

    .ms-navbar.is-visible .ms-nav-item {
        visibility: visible;
        opacity: 1!important
    }

    .ms-navbar>.ms-nav-item>a {
        margin: 0 auto;
        padding: 0
    }

    .ms-nav-item.link a::after,.ms-nav-item.link.active a::after {
        content: '';
        display: none
    }

    .ms-submenu {
        position: relative;
        opacity: 1;
        visibility: visible;
        background: inherit;
        left: 0;
        padding: 0;
        height: auto;
        max-height: 0;
        margin: 0;
        overflow: hidden;
        transform: translateY(0);
        transition: max-height .3s ease
    }

    .ms-submenu::before {
        display: none
    }

    .open.ms-submenu {
        height: auto;
        max-height: 100%
    }

    .ms-nav-item>.ms-submenu li a {
        text-align: center;
        padding: 0;
        opacity: .6
    }

    .is-visible .ms-nav-item {
        opacity: 1
    }

    .is-visible .ms-nav-item a {
        color: #fff;
        font-size: 24px
    }

    .case__footer {
        padding: 10% 0
    }

    #contact.row {
        margin-left: -15px;
        margin-right: -15px
    }

    .contrast-bg__black,.contrast-bg__grey {
        padding: 50px 0;
        margin: 0 -30px 50px
    }
}

@media only screen and (max-width: 800px) {
    .box-inner {
        left:30px;
        top: 15px
    }

    .ms-hero.ms-hero__poster {
        min-height: 65vh
    }

    .ms-hero__title-poster .ms-hero__title {
        margin-top: 20vh
    }

    .cover-closed .ms-hero__title-poster .ms-hero__title {
        margin-top: 30vh;
        margin-bottom: 0
    }

    .c-info {
        margin-bottom: 30px
    }

    .ms-footer .footer-socials {
        margin: 0 auto 10px;
        padding: 0
    }

    .ms-btn__square {
        font-size: 12px;
        line-height: 30px;
        padding: 0 10px
    }
}

@media only screen and (max-width: 640px) {
    .about__content img,.grid-item,.grid-item__img,.section__content img {
        margin-bottom:15px
    }

    .go-to-back span,.go-to-read span:first-child {
        display: none
    }

    .ms-hero__title h1,h1 {
        font-size: 1.8em;
        line-height: 1.2
    }

    .ms-section__block header {
        max-width: 100%;
        padding: 0 15px
    }

    .ms-grid {
        margin-left: 0;
        margin-right: 0
    }

    .ms-work-slider {
        padding-left: 0
    }

    .ms-work-slider .ms-pagination {
        padding-top: 15px
    }

    #contact.row {
        margin-left: 15px;
        margin-right: 15px
    }

    #validForm .row {
        margin-left: 0;
        margin-right: 0
    }

    .article-content .box-inner {
        max-width: 100%
    }

    .article-content .box-inner .box-inner__cat {
        max-width: 50%
    }

    .grid-item .box {
        padding-top: 35vh
    }

    .ms-section__block [class*=col-] {
        padding: 0
    }

    .box-inner {
        left: 15px;
        top: 15px
    }

    .article-date {
        top: 15px;
        right: 15px
    }

    .box-inner_link {
        right: 15px
    }

    .gallery-content img {
        margin-bottom: 0
    }

    .mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close {
        right: 10px
    }

    .ms-hero.ms-hero__poster {
        min-height: 65vh
    }

    .ms-hero__title-poster .ms-hero__title {
        margin-top: 25vh
    }

    .cover-closed .ms-hero__title-poster .ms-hero__title {
        margin-top: 25vh;
        margin-bottom: 0
    }

    .work-details .copy-cell h6 {
        font-size: 1.2em
    }

    .work-details .copy-cell {
        margin-bottom: 30px
    }

    .work-slide img {
        max-height: 25vh
    }

    .work-slide__shadow {
        top: 0;
        transform: scale(.75)
    }

    .ms-hero__title-poster {
        max-width: 85%
    }

    .cover-closed.ms-hero.ms-hero__poster .down-btns {
        transform: rotate(0);
        bottom: -20px
    }

    .go-to-read span:last-child i:last-child {
        transform: rotate(0)
    }

    .ms-hero__links {
        height: 40px
    }

    .meta-date,.meta-tags {
        font-size: 12px
    }

    .case__footer h3 {
        font-size: 16px
    }

    .client-logo {
        padding-top: 85%
    }

    .ms-hero:not(.ms-hero__poster) .ms-hero__title h1 {
        margin: 0 auto 15px
    }

    blockquote {
        margin: 0 auto 20px;
        padding: 10px 10px 10px 20px
    }
}
